.title {
  font-size: 3rem;
  line-height: 1.15;
  text-align: center;
  margin: 0 0 1em;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.view {
  text-align: center;
  margin-top: 3em;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.layout {
  position:relative
}

.simulateButton { 
  // position:absolute;
  // bottom:20px;
  // left:20px;
  background-color: rgba(102, 102, 240, 0.613);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simulateButton:hover {
  background-color: rgba(20, 20, 22, 0.424);;
}

.bottomContainer {
  align-items: center;
  padding: 10px;
}

.leftButtons {
  display: flex;
  gap: 10px;
  align-items: center;
}