.layout {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'menu main main main'
    'menu main main main'
    'footer footer footer footer';
  overflow: hidden;
  min-height: 100vh;
}

.main {
  padding: 0 0 0em;
  grid-area: main;
}
