@import "@styles/settings/_settings";

.header {
  width: 100%;
  font-size: 1em;
  color: white;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 1em 2em;
  background: linear-gradient(.25turn, #141430, #61170C);
  margin: 0;
}

.headerContainer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.headerTitle {
  font-size: 1.6em;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0;
}

.headerTitle:hover {
  background-color: rgb(33,33,33);
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
}
.headerLogo {
  height: 4em;
}

.headerLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  scale: 2.5;
  margin-top: 0.5em;
  li {
    margin: 0 0.8em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 1em;
    }
  }
}
